#!/usr/bin/env bash

export DIRENV_WARN_TIMEOUT=20s

eval "$(devenv direnvrc)"

# `use devenv` supports the same options as the `devenv shell` command.
#
# To silence all output, use `--quiet`.
#
# Example usage: use devenv --quiet --impure --option services.postgres.enable:bool true
use devenv

# Watch devenv configuration files for automatic reload
watch_file "devenv.nix"
watch_file "devenv.yaml"
watch_file "devenv.lock"
